*{
  width: 100%;
  margin: 0;
  padding: 0;
}
main{
  width: 100vw;
  height: 100vh;
  padding: 30px 30px;
  display: flex;
  background: rgb(224,196,253);
  background: linear-gradient(90deg, rgba(224,196,253,1) 0%, rgba(143,198,253,1) 100%); 
}
.main-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.left-panel{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  border-radius: 12px;
  margin: auto 0;
  padding: 30px;
  background-color: rgb(247, 247, 247);
}
.profile{
  display: grid;
  padding-bottom: 35px;
  grid-template-columns: 1fr 3fr;
}
.profile-pic{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: darkturquoise;
}
.profile-name{
  font-size: 20px;
  margin-left: 5%;
  font-weight: 600;
}
.btn-edit-profile{
  font-size: 18px;
  text-decoration: none;
}
.search-bar input{
  height: 60px;
  border-radius: 50px;
  background: #dceff9;
  box-shadow:  20px 20px 60px #bbcbd4,
               -20px -20px 60px #fdffff;
  border: 1.5px solid white;
  padding: 20px;
  border-radius: 12px;
}
.search-bar input:focus{
  outline: none;
  border: 1px solid #ae73ec;
}
.side-menu{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 100%;
}
.menu-item{
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #e0c4fd;
  text-align: center;
  width: 100%;
  border-radius: 12px;
  font-size: 18px;
}
.side-end{
  background-color: rgb(246, 92, 92);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.sd-bar-logo{
  text-align: center;
  margin-top: 10px;
}
.mid-panel{
  margin-left: 30px;
  margin-right: 10px;
  width: 90%;
  border-radius: 12px;
  overflow: auto;
}
.card{
  margin-bottom: 20px;
}
.right-panel{
  margin-top: 50px;
  overflow: scroll;
  overflow-x: hidden;
  width: 30%;
  margin-left: 20px;
}
::-webkit-scrollbar
{
  border-radius: 12px;
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.sv-event{
  margin-top: 30px;
  font-size: 24px;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}